@model GameReviewSite.Entities.Concrete.Game

<h1>@Model.Name</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <img src="@Url.Content(Model.Image)" class="img-fluid" alt="@Model.Name">
        </div>
        <div class="col-md-8">
            <h3>Details</h3>
            <p><strong>Genre:</strong> @Model.Genre.Name</p>
            <p><strong>Release Year:</strong> @Model.ReleaseYear</p>
            <p>
                <strong>Average Score:</strong>
                @Model.Ratings.DefaultIfEmpty().Average(r => r?.Rating ?? 0)
                <span class="stars">
                    @for (var i = 0; i < (int)Model.Ratings.DefaultIfEmpty().Average(r => r?.Rating ?? 0); i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                </span>
            </p>
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="comments-tab" data-toggle="tab" href="#comments" role="tab">Comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="add-comment-tab" data-toggle="tab" href="#add-comment" role="tab">Add Comment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="add-score-tab" data-toggle="tab" href="#add-score" role="tab">Add Score</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="comments" role="tabpanel">
            <h4>Comments</h4>
            <ul class="list-group">
                @foreach (var comment in Model.Comments)
                {
                    <li class="list-group-item">
                        <strong>@comment.User.UserName:</strong> @comment.Comment
                    </li>
                }
            </ul>
        </div>
        <div class="tab-pane fade" id="add-comment" role="tabpanel">
            <form asp-action="AddComment" asp-route-gameId="@Model.Id" method="post">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea name="comment" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Add Comment</button>
            </form>
        </div>
        <div class="tab-pane fade" id="add-score" role="tabpanel">
            <form asp-action="AddRating" asp-route-gameId="@Model.Id" method="post">
                <div class="form-group">
                    <label for="rating">Score (1-10):</label>
                    <input type="number" name="rating" id="rating" class="form-control" min="1" max="10" required>
                </div>
                <button type="submit" class="btn btn-success mt-2">Add Score</button>
            </form>
        </div>
    </div>
}

@if (User.IsInRole("Admin"))
{
    <div class="mt-4">
        <a asp-action="Edit" asp-controller="Game" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
        <a asp-action="Delete" asp-controller="Game" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    </div>
}

<a asp-action="ViewGames" asp-controller="Game" class="btn btn-secondary mt-4">Return Game List</a>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}